/* #116466 - DARK GREEN
#2C3531 CHARCOL
#D9B08C - DARK PEACH
#FFCB9A - PEACH
#D1E8E2 - LIGHT BLUE 
#75543D - BROWN
#564133 - DARK BROWN*/


h1 {
    color: pink;
}
.add-event-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
}
button {
    background: none;
    border: none;
}
.add-event-button img {
    height: 40px;
}
.add-event-button img:hover {
    cursor: pointer;
}












@media only screen and (min-width: 768px){
    

}


@media only screen and (min-width: 960px){

}